body {
  background-image: url(./assets/background-image.jpg);
  margin: 0;
  padding: 0;
  color: aliceblue;
  text-align: center;
  padding: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
}

.like-counter {
  display: inline-block;
  background-color: white;
  color: black;
  position: absolute;
  top: 20px;
  right: 10px;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 5px;
}
